# Dépendances pour le backend
flask==2.3.3
flask-cors==4.0.0
deepface==0.0.79
opencv-python==4.8.0.74
numpy==1.24.3
faiss-cpu==1.7.4
pillow==10.0.0
python-dotenv==1.0.0
tensorflow==2.11.0
bcrypt==4.0.1
